body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  text-align: center;
}

.menu-button {
  font-size: large;
  margin: 50px;
}

#back-button {
  float: left;
}

#timeline {
  margin: 50px;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 960px;
  overflow-x: scroll;
  white-space: nowrap;
}

#p1, #p2 {
  margin: 10px;
}

.white {
  color: #6a9bff;
}

.black {
  color: #000000;
}

#surrender {
  font-size: medium;
}

#boom {
  height: 480px;
  width: 480px;
}

#match-history {
  margin-left: auto;
  margin-right: auto;
}